/*
Theme Name: Construction Child
Author: Vamtam
Author URI: http://vamtam.com
Template: construction

@blue: #339BE2;
*/
img{
	max-width: 100%;
}
.post-row-center{
	max-width: 100%;
}
.wpv_icon_link [data-icon-type="linkedin"]{
	color: inherit;
}
.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.blog-name{
	margin-left: 1em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    line-height: 1.4;
}
.fixed-header-box .logo-wrapper .flex{
	display: flex;
	align-items: center;
	justify-content: center;
}
.flex{
	display: flex;
	align-items: center;
	justify-content: center;
}
.header-content-wrapper .first-row-left{
	width: 28%;
}
.header-content-wrapper .first-row-right{
	width: 72%;
}
.header-content-wrapper .first-row-right #header-text>div{
	max-width: 70% !important;
}
.wpv-progress.number .icon{
	color: inherit;
}
.to-left{
	float: left;
	margin-right: 15px;
}
#project-gallery .portfolio-wrap:hover .portfolio-title{
	background: #339be2;
}
#project-gallery .portfolio-title{
	color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    background: rgba(35, 40, 45, 0.6);
    padding: 10px;
    line-height: 1.2;
}
#project-gallery .portfolio-wrap>a{
	position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#project-gallery .portfolio-wrap{
	min-height: 300px;
	margin-bottom: 20px;
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#project-gallery .wpv-grid{
	margin-left: 12.5%;
}
#project-gallery{
	
}
.portfolio_gallery{
	max-width: 80%;
	margin: auto;
	margin-bottom: 2em;
}
#footer-sidebars .widget li{
	padding: 4px 0;
}
#footer-sidebars{
	padding: 40px 0;
}
.portfolio-cats li{
	text-transform: uppercase;
}
.copyrights{
	display: none;
}
.cask{
	width: 260px;
    text-align: center;
    margin: auto;
    transform: translate(-20px);
}
.page-id-9640 .page-content{
	max-width:750px;
	margin: auto;	
}
#gallery-1 .gallery-item{
	padding: 15px !important;
	text-align: center;
	vertical-align: middle;
}
#gallery-1{
	margin-bottom: 30px;
}
#gallery-1 .gallery-item img{
	max-width: 150px;
}
.loop-wrapper .post-row-center{
	width: 100%;
	margin-bottom: 1em;
	font-size: 18px;
}
.portfolio_content .address{
	font-weight: bold;
	font-size: 26px;
	text-transform: uppercase;
	color: #339be2;
	line-height: 1.4;
}
.portfolio_content .address>p{
	font-weight: bold;
	margin: 10px 0;
	font-size: 22px;
	white-space: nowrap;
	font-family: Helvetica, arial, sans-serif;
	color: inherit;
}
.portfolio-media{
	max-width: 600px;
	margin: auto;
}
#footer-sidebars > .row .widget .widget-title{
	text-transform: uppercase;
}
.porfolio-loop{
	font-size: 1.2em;
}
.porfolio-loop article{
	padding-bottom: 40px !important;
	border-bottom: 1px solid #ddd;
}
.services-title{
  padding-bottom: 10px;
  border-bottom: 1px solid #339be2;
}
.wpv-progress.number + .wpv-progress-content{
  padding-top: 0;
  padding-bottom: 20px;
  border-top: none;
  border-bottom: 1px solid #EDEDED;
  font-size: 20px;
}
#some-clients{
  margin-bottom: 15px;
}
#header-text a{
  font-size: 18px;
}

@media screen and (max-width:560px){
  .logo img {
    margin-right: 1rem;
    float: left;
  }
	.fixed-header-box .first-row-left{
		width: 100%;
	}
	.responsive-layout header.main-header .logo-wrapper{
		padding: 0;
	}
	#footer-sidebars > .row aside.fit{
		min-height: auto !important;
		margin-bottom: 1em;
	}
	#project-gallery .wpv-grid{
		margin-left: 0;
	}
	#gallery-1{
		text-align: center;
	}
	#gallery-1 > .gallery-item{
		width: auto;
	}
	.mobile-logo-additions{
		display: none !important;	
	}
	.portfolio_content .address>p{
		white-space: normal;
	}
}