/*
Theme Name: Construction
Theme URI: http://construction.vamtam.com
Text Domain: construction
Description: WordPress Theme with powerful back-end framework.
Author: Vamtam
Author URI: http://vamtam.com
Version: 8.3
License: Envato
License URI: http://themeforest.net/licenses
Tags: one-column, two-columns, three-columns, four-columns, left-sidebar, right-sidebar, fluid-layout, custom-background, custom-colors, custom-header, custom-menu, featured-image-header, featured-images, full-width-template, post-formats, theme-options, threaded-comments, translation-ready
*/
.cask{
	width: 260px;
    text-align: center;
    margin: auto;
    transform: translate(-20px);
}